{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if track_no_status %}
	{% else %}
    <div class="alert alert-info"><i class="fa fa-info-circle"></i> После установки модуля зайдите в Менеджер дополнений и нажмите кнопку "Обновить"
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
	
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-status">Статус:</label>
            <div class="col-sm-7">
              <select name="track_no_status" id="input-status" class="form-control">			
                {% if track_no_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
		  
		  <div class="form-group">
			<label class="col-sm-3 control-label" for="track_no_ignore_security"><span data-toggle="tooltip" title="Отключить проверку доступа к API при добавлении трек-номера">Не могу настроить доступ к API:</span></label>
			<div class="col-sm-7">
				<div class="checkbox">
					<label><input class="_form_flag" type="checkbox" name="track_no_ignore_security" value="1" {% if track_no_ignore_security %}checked{% endif %} />
					<span style="color: red;">Используйте с осторожностью, в качестве временной меры!</span></label>
				</div>
			</div>
		  </div>
		  
		  <div class="form-group">
			<div class="col-sm-12"><h3>Что делать при добавлении трек-номера к заказу:</h3></div>
		  </div>
		  
		  <div class="form-group">
			<label class="col-sm-3 control-label" for="track_no_change_status">Менять статус заказа:</label>
			<div class="col-sm-7">
				<div class="checkbox">
					<label><input class="_form_flag" rel="_change_status" type="checkbox" name="track_no_change_status" value="1" {% if track_no_change_status %}checked{% endif %} /></label>
					</div>
			</div>
		  </div>
		  <div class="form-group _change_status">
			<label class="col-sm-3 control-label" for="track_no_order_status">Устанавливать статус:</label>
			<div class="col-sm-7">
			  <select name="track_no_order_status" class="form-control">			
				{% for order_status in order_statuses %}
				<option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id == track_no_order_status %}selected{% endif %}>{{ order_status.name }}</option>
				{% endfor %}
              </select>
			</div>
		  </div>
		  
		  <div class="form-group">
			<label class="col-sm-3 control-label" for="track_no_email_notify"><span data-toggle="tooltip" title="При помощи добавления комментария в историю заказа">Уведомлять покупателя по E-mail:</span></label>
			<div class="col-sm-7">
				<div class="checkbox"><label><input class="_form_flag" rel="_email_notify" type="checkbox" name="track_no_email_notify" value="1" {% if track_no_email_notify %}checked{% endif %} /></div>
			  </div>
		  </div>
		  
		  <div class="form-group _email_notify">
			<label class="col-sm-3 control-label" for="track_no_email_text"><span data-toggle="tooltip" title="Подстановка в письмо: {order_id} - номер заказа, {track_no} - трек-номер, {shipping_firstname} и {shipping_lastname} - имя и фамилия покупателя.">Текст письма:</span></label>
			<div class="col-sm-7">
				<textarea name="track_no_email_text" rows="10" class="form-control">{{ track_no_email_text }}</textarea>
			</div>
		  </div>

		  <div class="form-group">
			<label class="col-sm-3 control-label" for="track_no_sms_notify"><span data-toggle="tooltip" title="Настройте SMS-шлюз">Уведомлять покупателя по SMS:</span></label>
			<div class="col-sm-7">
				<div class="checkbox"><label><input class="_form_flag" rel="_sms_notify" type="checkbox" name="track_no_sms_notify" value="1" {% if track_no_sms_notify %}checked{% endif %} />
				</div>
			</div>
		  </div>
          
            <div class="form-group _sms_notify">
              <label class="col-sm-3 control-label" for="input-template">SMS шлюз:</label>
              <div class="col-sm-7">
                <select name="track_no_sms_gatename" id="select-smsgate" class="form-control">
                  {% for sms_gatename in sms_gatenames %}
                  {% if track_no_sms_gatename == sms_gatename %}
                  <option value="{{ sms_gatename }}" selected="selected">{{ sms_gatename }}</option>
                  {% else %}
                  <option value="{{ sms_gatename }}">{{ sms_gatename }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
                <br />
                <span id="sms_gate_link"></span>
              </div>
            </div>
            <div class="form-group _sms_notify">
              <label class="col-sm-3 control-label" for="input-sms-gate-username">Логин или ID на SMS шлюзе:</label>
              <div class="col-sm-7">
                <input type="text" name="track_no_sms_gate_username" value="{{ track_no_sms_gate_username }}" id="input-sms-gate-username" class="form-control" />
              </div>
            </div>
            <div class="form-group _sms_notify">
              <label class="col-sm-3 control-label" for="input-config-sms-gate-password">Пароль,token или API key на SMS шлюзе:</label>
              <div class="col-sm-7">
                <input type="password" name="track_no_sms_gate_password" value="{{ track_no_sms_gate_password }}" id="input-sms-gate-password" class="form-control" />
              </div>
            </div>	
            <div class="form-group _sms_notify">
              <label class="col-sm-3 control-label" for="input-config-sms-gate-from">Отправитель SMS:</label>
              <div class="col-sm-7">
                <input type="text" name="track_no_sms_gate_from" value="{{ track_no_sms_gate_from }}" id="input-sms-gate-from" class="form-control" />
              </div>
            </div>          
		  
		  <div class="form-group _sms_notify">
			<label class="col-sm-3 control-label" for="track_no_sms_text"><span data-toggle="tooltip" title="Подстановка в SMS: {order_id} - номер заказа, {track_no} - трек-номер, {shipping_firstname} и {shipping_lastname} - имя и фамилия покупателя.">Текст SMS:</span></label>
			<div class="col-sm-7">
				<textarea name="track_no_sms_text" rows="5" class="form-control">{{ track_no_sms_text }}</textarea>
			</div>
		  </div>
		  
		  <div class="form-group">
			<label class="col-sm-3 control-label" for="track_no_export_liveinform"><span data-toggle="tooltip" title="LiveInform.ru - сервис отслеживания статусов доставки Почты России и уведомления покупателей.">Экспортировать в <a href="http://www.liveinform.ru/?partner=2324" target="_blank">LiveInform.ru</a>:</span></label>
			<div class="col-sm-7">
				<div class="checkbox"><label><input class="_form_flag" rel="_export_liveinform" type="checkbox" name="track_no_export_liveinform" value="1" {% if track_no_export_liveinform %}checked{% endif %} />
				</div>
			</div>
		  </div>
		  
		  <div class="form-group">
			<label class="col-sm-3 control-label" for="track_no_liveinform_api_id">API ID:</label>
			<div class="col-sm-7">
				<input type="text" name="track_no_liveinform_api_id" value="{{ track_no_liveinform_api_id }}" class="form-control input-small" />
				<a href="http://www.liveinform.ru/?partner=2324">получить API ID</a>
			</div>
		  </div>
		  
		  <div class="form-group">
              <label class="col-sm-3 control-label" for="track_no_liveinform_sync">Синхронизировать статусы <a href="http://www.liveinform.ru/?partner=2324" target="_blank">LiveInform</a>:</label>
			<div class="col-sm-7">
				<div class="checkbox"><label><input class="_form_flag" rel="_liveinform_sync" type="checkbox" name="track_no_liveinform_sync" value="1" {% if track_no_liveinform_sync %}checked{% endif %} />
				</div>
			</div>
		  </div>
              
		  <div class="form-group _liveinform_sync">
              <label class="col-sm-3 control-label"><span data-toggle="tooltip" title="Запускать по планировщику через wget">Скрипт синхронизации:</span></label>
			<div class="col-sm-7">
				<a href="{{ liveinform_sync_url }}" target="_blank">{{ liveinform_sync_url }}</a>
			</div>
		  </div>
              
		  <div class="form-group _liveinform_sync">
            <label class="col-sm-3 control-label" for="order-statuses">Не обрабатывать заказы с этими статусами:</label>
            <div class="col-sm-7">
              <select name="track_no_order_statuses[]" id="order-statuses" size="15" multiple class="form-control">			
				{% for order_status in order_statuses %}
				<option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id in track_no_order_statuses %} selected="selected"{% endif %}>{{ order_status.name }}</option>
				{% endfor %}
              </select>
            </div>
		  </div>
		  
		  <div class="form-group _liveinform_sync">
            <label class="col-sm-3 control-label" for="track_no_shipping_status">Статус заказа, когда он "В пути":</label>
            <div class="col-sm-7">
              <select name="track_no_shipping_status" class="form-control">			
				{% for order_status in order_statuses %}
				{% if order_status.order_status_id == track_no_shipping_status %}
				<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
				{% else %}
				<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
				{% endif %}
				{% endfor %}
              </select>
            </div>
		  </div>
		  
		  <div class="form-group _liveinform_sync">
            <label class="col-sm-3 control-label" for="track_no_postoffice_status">Статус заказа, когда он "На почте":</label>
            <div class="col-sm-7">
              <select name="track_no_postoffice_status" class="form-control">			
				{% for order_status in order_statuses %}
				{% if order_status.order_status_id == track_no_postoffice_status %}
				<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
				{% else %}
				<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
				{% endif %}
				{% endfor %}
              </select>
            </div>
		  </div>
		  
		  <div class="form-group _liveinform_sync">
            <label class="col-sm-3 control-label" for="track_no_issued_status">Статус заказа, когда он "Вручен":</label>
            <div class="col-sm-7">
              <select name="track_no_issued_status" class="form-control">			
				{% for order_status in order_statuses %}
				{% if order_status.order_status_id == track_no_issued_status %}
				<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
				{% else %}
				<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
				{% endif %}
				{% endfor %}
              </select>
            </div>
		  </div>
		  
		  <div class="form-group _liveinform_sync">
            <label class="col-sm-3 control-label" for="track_no_return_status">Статус заказа, когда "Возврат":</label>
            <div class="col-sm-7">
              <select name="track_no_return_status" class="form-control">			
				{% for order_status in order_statuses %}
				{% if order_status.order_status_id == track_no_return_status %}
				<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
				{% else %}
				<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
				{% endif %}
				{% endfor %}
              </select>
            </div>
		  </div>
		  
		  <div class="form-group _liveinform_sync">
			<label class="col-sm-3 control-label" for="track_no_sync_comment"><span data-toggle="tooltip" title="Подстановка в комментарий: {order_id} - номер заказа, {track_no} - трек-номер, {shipping_firstname} и {shipping_lastname} - имя и фамилия покупателя.">Текст комментария:</span></label>
			<div class="col-sm-7">
				<textarea name="track_no_sync_comment" rows="5" class="form-control">{{ track_no_sync_comment }}</textarea>
			</div>
		  </div>
		  
		  </div>
			
		<input type="hidden" name="track_no_set" value="1" />
      </form>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {

var smsGates = {
    bytehand: 'https://www.bytehand.com/?r=3ddf1b2421770b0c',
    bytehandcom: 'https://www.bytehand.com/?r=3ddf1b2421770b0c',
    smsc: 'https://smsc.ru/?ppOpenCart',
    smscru: 'https://smsc.ru/?ppOpenCart',
    smscua: 'https://smsc.ru/?ppOpenCart',
    epochtasms: 'http://www.epochta.ru/#a_aid=opencart',
    epochta: 'http://www.epochta.ru/#a_aid=opencart',
    epochtasmscomua: 'http://www.epochta.ru/#a_aid=opencart',
    unisender: 'http://www.unisender.com/?a=opencart',
    unisenderru: 'http://www.unisender.com/?a=opencart'
};
$('#select-smsgate').change(function() {
	var gate = $(this).val();
	if (smsGates[gate]) {
		$('#sms_gate_link').html('<a href="'+smsGates[gate]+'" target="_blank">Получить доступ</a>');
	}
	else {
		$('#sms_gate_link').html('');
	}
});
$('#select-smsgate').trigger('change');


$('._form_flag').change(function() {
	if ($(this).is(':checked')) {
		$('.'+$(this).attr('rel')).show();
	}
	else {
		$('.'+$(this).attr('rel')).hide();
	}
});
$('._form_flag').trigger('change');

})
</script>
{{ footer }}
