{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> Редактировать настройки модуля</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
          <ul class="nav nav-tabs" id="tab_menu">
            <li class="active"><a href="#account" data-toggle="tab">Параметры</a></li>
            <li><a href="#tracking" data-toggle="tab">Уведомления</a></li>
          </ul>
		  
          <div class="tab-content">
            <div class="tab-pane active" id="account">
			
			  <div class="form-group">
				<label class="col-sm-3 control-label" for="input-status">Статус:</label>
				<div class="col-sm-9">
				  <select name="boxberryupd_status" id="input-status" class="form-control">			
					{% if boxberryupd_status %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0">{{ text_disabled }}</option>
					{% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				  </select>
				</div>
			  </div>
			  
			  <div class="form-group">
				<label class="col-sm-3 control-label" for="api-token"><span data-toggle="tooltip" title="См. в личном кабинете Boxberry">Boxberry API token:</span></label>
				<div class="col-sm-9">
					<input type="text" id="api-token" name="boxberryupd_token" value="{{ boxberryupd_token }}" class="form-control input-small" required />
				</div>
			  </div>
			  
              <div class="form-group">
                <label class="col-sm-3 control-label">Режим работы API:</label>
                <div class="col-sm-9">
                    <select name="boxberryupd_mode" class="form-control">
                    <option value="test"{% if boxberryupd_mode == 'test' %} selected="selected"{% endif %}>Тестовый test.api.boxberry.de</option>
                    <option value="old"{% if boxberryupd_mode == 'old' %} selected="selected"{% endif %}>Старый api.boxberry.de</option>
                    <option value="new"{% if boxberryupd_mode == 'new' %} selected="selected"{% endif %}>Новый api.boxberry.ru</option>
                    </select>                        
                </div>
              </div>
			  
			  <div class="form-group">
				<label class="col-sm-3 control-label" for="shipping-code"><span data-toggle="tooltip" title="См. поле shipping_code в таблице заказов oc_order">Код доставки Boxberry в OpenCart:</span></label>
				<div class="col-sm-9">
					<input type="text" id="shipping-code" name="boxberryupd_shipping_code" value="{{ boxberryupd_shipping_code }}" class="form-control input-small" />
				</div>
			  </div>
			  
			  <div class="form-group">
				<label class="col-sm-3 control-label" for="boxberryupd_order_statuses">Не обрабатывать заказы с этими статусами:</label>
				<div class="col-sm-9">
				  <select name="boxberryupd_order_statuses[]" size="15" multiple class="form-control">			
					{% for order_status in order_statuses %}
					<option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id in boxberryupd_order_statuses %}selected{% endif %}>{{ order_status.name }}</option>
					{% endfor %}
				  </select>
				</div>
			  </div>

			  <div class="form-group">
				<label class="col-sm-3 control-label">Команды для планировщика:</label>
				<div class="col-sm-9">
					<b>{{ cron_run }}</b><br>или<br><b>{{ wget_run }}</b>
				</div>
			  </div>
			  
			</div>
		  
            <div class="tab-pane" id="tracking">
			
			  <div class="form-group">
				<label class="col-sm-2 control-label">Подстановка данных в уведомления:</label>
				<div class="col-sm-10">
				  {order_id}&nbsp;-&nbsp;номер заказа, {track_no}&nbsp;-&nbsp;код отслеживания, {firstname},{lastname}&nbsp;-&nbsp;имя и фамилия покупателя, {address}&nbsp;-&nbsp;адрес доставки,
				  {DATE}&nbsp;-&nbsp;дата смены статуса, {COMMENT}&nbsp;-&nbsp;комментарий к статусу.
				</div>
			  </div>
			
			  <div class="form-group">
			  
			  <table class="table table-hover">
				<thead>  
				<tr align="left">
				<th width="20%">Статус заказа в Boxberry</th>
				<th width="10%">Обраб.</th>
				<th width="20%">Статус заказа в OpenCart</th>
				<th width="35%">Писать в историю заказа / Текст SMS-уведомления</th>
				<th width="15%">Уведомлять покупателя</th>
				</tr>
				</thead>
				<tbody>
				{% for code,vals in status_mapping %}
			  
				<tr>
				  <td>{{ code }}: {{vals.name}}</td>
				  
				  <td>
				  <input type="checkbox" name="boxberryupd_mapping{{ code }}_enabled" value="1"{% if vals.enabled %} checked{% endif %} />
				  </td>
				  
				  <td><select name="boxberryupd_mapping{{ code }}_status">
						{% for order_status in order_statuses %}
						<option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id == vals.status %}selected{% endif %}>{{ order_status.name }}</option>
						{% endfor %}
					</select>
				  </td>

				  <td>
				  <textarea name="boxberryupd_mapping{{ code }}_text" rows="3" cols="60">{{ vals.text }}</textarea>
				  {% if vals.sms %}
				  <textarea name="boxberryupd_mapping{{code}}_sms" rows="2" cols="60" placeholder="SMS-уведомление">{{ vals.sms }}</textarea>
				  {% endif %}
				  </td>
				  
				  <td>
				  <label><input type="checkbox" name="boxberryupd_mapping{{ code }}_notify" value="1"{% if vals.notify %} checked{% endif %} />Email</label>
				  {% if vals.sms %}
				  <br><br>
				  <label><input type="checkbox" name="boxberryupd_mapping{{ code }}_smsnotify" value="1"{% if vals.smsnotify %} checked{% endif %} />SMS</label>
				  {% endif %}
				  </td>
				</tr>

				{% endfor %}
				<tbody>
			  </table>
			  </div>
			  
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="input-template">SMS шлюз:</label>
                  <div class="col-sm-9">
                    <select name="boxberryupd_sms_gatename" id="select-smsgate" class="form-control">
			{% for sms_gatename in sms_gatenames %}
			  {% if boxberryupd_sms_gatename == sms_gatename %}
			   <option value="{{ sms_gatename }}" selected="selected">{{ sms_gatename }}</option>
			  {% else %}
			  <option value="{{ sms_gatename }}">{{ sms_gatename }}</option>
			  {% endif %}
			{% endfor %}
                    </select>
                    <span id="sms_gate_link"></span>
				  </div>
				</div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="input-sms-gate-username">Логин или ID на SMS шлюзе:</label>
                  <div class="col-sm-9">
                    <input type="text" name="boxberryupd_sms_gate_username" value="{{ boxberryupd_sms_gate_username }}" id="input-sms-gate-username" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="input-config-sms-gate-password">Пароль, token или API key на SMS шлюзе:</label>
                  <div class="col-sm-9">
                    <input type="password" name="boxberryupd_sms_gate_password" value="{{ boxberryupd_sms_gate_password }}" id="input-sms-gate-password" class="form-control" />
                  </div>
				</div>	
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="input-config-sms-gate-from">Отправитель SMS:</label>
                  <div class="col-sm-9">
                    <input type="text" name="boxberryupd_sms_gate_from" value="{{ boxberryupd_sms_gate_from }}" id="input-sms-gate-from" class="form-control" />
                  </div>
				</div>	
			  
			</div>
			
        </div>
		  </div>
		  <input type="hidden" name="boxberryupd_set" value="1" />
		</form>
      </div>
	</div>
  </div>
</div>
<script>
var smsGates = {
    bytehand: 'https://www.bytehand.com/?r=3ddf1b2421770b0c',
    bytehandcom: 'https://www.bytehand.com/?r=3ddf1b2421770b0c',
	smsc: 'https://smsc.ru/?ppOpenCart',
    smscru: 'https://smsc.ru/?ppOpenCart',
    smscua: 'https://smsc.ru/?ppOpenCart',
	epochtasms: 'http://www.epochta.ru/#a_aid=opencart',
	epochta: 'http://www.epochta.ru/#a_aid=opencart',
    epochtasmscomua: 'http://www.epochta.ru/#a_aid=opencart',
	unisender: 'http://www.unisender.com/?a=opencart',
    unisenderru: 'http://www.unisender.com/?a=opencart'
};
$('#select-smsgate').change(function() {
	var gate = $(this).val();
	if (smsGates[gate]) {
		$('#sms_gate_link').html('<a href="'+smsGates[gate]+'" target="_blank">Получить доступ</a>');
	}
	else {
		$('#sms_gate_link').html('');
	}
});
$('#select-smsgate').trigger('change');

</script>
{{ footer }}
