{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> Редактировать настройки модуля</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
		
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-status">Статус:</label>
			<div class="col-sm-10">
			  <select name="pickpointupd_status" id="input-status" class="form-control">			
				{% if pickpointupd_status %}
				<option value="1" selected="selected">{{ text_enabled }}</option>
				<option value="0">{{ text_disabled }}</option>
				{% else %}
				<option value="1">{{ text_enabled }}</option>
				<option value="0" selected="selected">{{ text_disabled }}</option>
				{% endif %}
			  </select>
			</div>
		  </div>

		  <div class="form-group">
			<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="Запускать через wget">Команды для планировщика:</span></label>
			<div class="col-sm-10">
				<b>{{ cron_run }}</b><br>или<br><b>{{ wget_run }}</b>
			</div>
		  </div>
		  
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="pickpointupd_login">Pickpoint login:</label>
			<div class="col-sm-10">
				<input type="text" name="pickpointupd_login" value="{{ pickpointupd_login }}" class="form-control input-small" required />
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="pickpointupd_password">Pickpoint password:</label>
			<div class="col-sm-10">
				<input type="text" name="pickpointupd_password" value="{{ pickpointupd_password }}" class="form-control input-small" required />
			</div>
		  </div>
<!--          
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="pickpointupd_Timezone_diff"><span>Разница времени СДЭК и вашего сервера, ч:</span></label>
			<div class="col-sm-10">
				<input type="text" name="pickpointupd_Timezone_diff" value="{{ pickpointupd_Timezone_diff }}" class="form-control input-small" style="width:60px;" required />
			</div>
		  </div>
		  
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="pickpointupd_order_statuses">Не обрабатывать заказы с этими статусами:</label>
            <div class="col-sm-10">
              <select name="pickpointupd_order_statuses[]" size="15" multiple class="form-control">
				{% for order_status in order_statuses %}
				<option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id in pickpointupd_order_statuses %}selected{% endif %}>{{ order_status.name }}</option>
				{% endfor %}
              </select>
            </div>
		  </div>
-->
          
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="pickpointupd_assign_cb"><span data-toggle="tooltip" title="Если вы указали номер заказа при отправлении">Присваивать трек-номера автоматически:</span></label>
			<div class="col-sm-10">
				<div class="checkbox"><label><input type="checkbox" id="pickpointupd_assign_cb" name="pickpointupd_assign" value="1" {% if pickpointupd_assign %} checked="checked"{% endif %} /></label></div>
			</div>
		  </div>
          
        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-smsgate">SMS шлюз:</label>
          <div class="col-sm-10">
            <select name="pickpointupd_sms_gatename" id="select-smsgate" class="form-control">
			{% for sms_gatename in sms_gatenames %}
              <option value="{{ sms_gatename }}"{% if pickpointupd_sms_gatename == sms_gatename %} selected="selected"{% endif %} >{{ sms_gatename }}</option>
			{% endfor %}
            </select>
            <br />
            <span id="sms_gate_link"></span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-sms-gate-username">Логин или ID на SMS шлюзе:</label>
          <div class="col-sm-10">
            <input type="text" name="pickpointupd_sms_gate_username" value="{{ pickpointupd_sms_gate_username }}" id="input-sms-gate-username" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-config-sms-gate-password">Пароль или token на SMS шлюзе:</label>
          <div class="col-sm-10">
            <input type="password" name="pickpointupd_sms_gate_password" value="{{ pickpointupd_sms_gate_password }}" id="input-sms-gate-password" class="form-control" />
          </div>
        </div>	
        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-config-sms-gate-from">Отправитель SMS:</label>
          <div class="col-sm-10">
            <input type="text" name="pickpointupd_sms_gate_from" value="{{ pickpointupd_sms_gate_from }}" id="input-sms-gate-from" class="form-control" />
          </div>
        </div>          
          
        <div class="form-group">
          <div class="col-sm-12">
          <table class="form">
              
            <tr align="left">
            <th width="20%">Статус заказа в Pickpoint</th>
            <th width="5%">Обраб.</th>
            <th width="10%">Статус заказа в OpenCart</th>
            <th width="60%">Писать в историю заказа / Текст SMS-уведомления</th>
            <th width="10%">Уведомлять покупателя</th>
            </tr>
            
			{% for code,vals in status_mapping %}
            
            <tr>
              <td>{{ vals.name }}</td>
              
              <td>
              <input type="checkbox" name="pickpointupd_mapping{{ code }}_enabled" value="1"{% if vals.enabled %} checked{% endif %} />
              </td>
              
              <td><select name="pickpointupd_mapping{{ code }}_status">
				  {% for order_status in order_statuses %}
                    <option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id == vals.status %} selected="selected"{% endif %} >{{ order_status.name }}</option>
				  {% endfor %}
                </select>
              </td>

              <td align="center">
              <textarea name="pickpointupd_mapping{{ code }}_text" rows="3" style="width: 90%">{{ vals.text }}</textarea>
              <textarea name="pickpointupd_mapping{{ code }}_sms" rows="2"  style="width: 90%" placeholder="SMS-уведомление">{{ vals.sms }}</textarea>
              </td>
              
              <td>
              <label><input type="checkbox" name="pickpointupd_mapping{{ code }}_notify" value="1"{% if vals.notify %} checked{% endif %} />Email</label>
              <label><input type="checkbox" name="pickpointupd_mapping{{ code }}_smsnotify" value="1"{% if vals.smsnotify %} checked{% endif %} />SMS</label>
              </td>
              
            </tr>
            <tr><td colspan="5"><hr></td></tr>
              
			  {% endfor %}
          </table>          
		  
          Подстановка данных в уведомления: <span class="help">{order_id} - номер заказа, {track_no} - код отслеживания, {firstname},{lastname} - имя и фамилия покупателя, {address} - адрес доставки.</span>
		  </div>
        </div>          
          
		  
				
		<input type="hidden" name="pickpointupd_set" value="1" />
      </form>
    </div>
  </div>
</div>
<script>
var smsGates = {
    bytehand: 'https://www.bytehand.com/?r=3ddf1b2421770b0c',
    bytehandcom: 'https://www.bytehand.com/?r=3ddf1b2421770b0c',
	smsc: 'https://smsc.ru/?ppOpenCart',
    smscru: 'https://smsc.ru/?ppOpenCart',
    smscua: 'https://smsc.ru/?ppOpenCart',
	epochtasms: 'http://www.epochta.ru/#a_aid=opencart',
	epochta: 'http://www.epochta.ru/#a_aid=opencart',
    epochtasmscomua: 'http://www.epochta.ru/#a_aid=opencart',
	unisender: 'http://www.unisender.com/?a=opencart',
    unisenderru: 'http://www.unisender.com/?a=opencart'
};
$('#select-smsgate').change(function() {
	var gate = $(this).val();
	if (smsGates[gate]) {
		$('#sms_gate_link').html('<a href="'+smsGates[gate]+'" target="_blank">Получить доступ</a>');
	}
	else {
		$('#sms_gate_link').html('');
	}
});
$('#select-smsgate').trigger('change');

</script>
{{ footer }}